.code{
color:"red";background-color: silver;
}
.basel{
    background-color: red;
}
.ahmed{
    background-color: aqua;
}
.khalid{
    background-color: beige;
}
.saeed{
    vertical-align: baseline;
}